<td class="esd-stripe" align="center">
    <table bgcolor="#1e1e1e" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="background-color: #1e1e1e;">
        <tbody>
            <tr>
                <td class="esd-structure es-p20t es-p20r es-p20l" align="left">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#1e1e1e" style="background-color: #1e1e1e;">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="esd-block-image" style="font-size: 0px;"><a target="_blank"><img class="adapt-img" src="https://eohjeqh.stripocdn.email/content/guids/CABINET_dbcaf18255e03ca2eefadec0147e4fe57b3d636c6a82b02ba1b18402902f9d0e/images/0.png" alt style="display: block;" width="264"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="esd-structure es-p30t es-p30b es-p20r es-p20l" align="left" bgcolor="#333333" style="background-color: #333333; border-radius: 45px;">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="esd-block-text es-p10b es-m-txt-c">
                                                    <h1 style="color: #eb9a32; font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><strong>Bienvenido a Relux</strong></h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="esd-block-text es-p5t es-p5b es-p40r es-p40l es-m-p0r es-m-p0l">
                                                    <p style="color: #ffffff; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;">Ha recibido este mensaje porque su dirección de correo electrónico ha sido registrada en nuestro sitio. Por favor, haga clic en el botón a continuación para verificar su dirección de correo electrónico y confirmar que es el propietario de esta cuenta.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="esd-block-text es-p10t es-p5b">
                                                    <p style="color: #ffffff; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;">Si usted no se ha registrado en Relux, por favor ignore este correo.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="esd-block-text es-p5t es-p5b es-p40r es-p40l es-m-p0r es-m-p0l">
                                                    <p style="color: #ffffff; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif; font-size: 12px;">Una vez que confirme su registro, este correo será asociado con su cuenta.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>